APP_PORT=5001
APP_ENV=dev

# DATABASE
DB_USERNAME=admin
DB_PASSWORD=admin
DB_DATABASE=express-server-database
DB_HOST=localhost
DB_PORT=5432

# JWT
JWT_SALT_ROUNDS=10
JWT_SECRET=some_my-as1dd
# 15min in seconds
ACCESS_TOKEN_TTL=900
# 1d in seconds
REFRESH_TOKEN_TTL=86400

#GOOGLE_AUTH
GOOGLE_CLIENT_ID=